In [71]:
import pandas as pd
foreign_data = pd.read_table("C:\\Users\Youngju Hong\Documents\projectfile\SE_SPOP_FORN_LONG_RESD_DONG_2020년1월-5월.txt", sep = ",")
foreign_data["ymd"] = pd.to_datetime(foreign_data["ymd"], format = "%Y%m%d")
foreign_data.head()

,ymd,tt,h_dng_cd,fornlong_spop,chn,vnm,usa,jpn,can,twn,etcsum
0,2020-01-01,0,11110515,204.3423,81.5946,0.0238,52.6440,5.9314,15.6232,0.0037,48.5216
1,2020-01-01,0,11110530,996.7482,234.0191,14.8886,183.3293,34.7678,50.3823,12.4711,466.8905
2,2020-01-01,0,11110540,168.6856,43.7797,13.9304,48.6421,6.5842,0.3645,13.3380,42.0469
3,2020-01-01,0,11110550,437.9146,245.3211,4.4483,88.1657,0.0000,29.5340,9.6511,60.7944
4,2020-01-01,0,11110560,380.7847,116.9250,4.4532,120.6092,10.7719,24.8353,26.4001,76.7901

In [79]:
foreign_data_grouped = foreign_data.groupby(by = ["tt", "h_dng_cd"]).mean().reset_index() #group by time and dong code
foreign_data_grouped["gu_code"] = foreign_data_grouped["h_dng_cd"].apply(lambda x: str(x)[:4]) #extract gu code
foreign_data_grouped

,tt,h_dng_cd,fornlong_spop,chn,vnm,usa,jpn,can,twn,etcsum,gu_code
0,0,11110515,208.256166,67.906446,0.561709,50.770162,13.532205,23.436146,5.061136,46.988372,1111
1,0,11110530,974.621064,154.877688,7.108387,155.002733,26.164693,35.467321,14.169019,581.831176,1111
2,0,11110540,124.166980,30.555814,17.427599,30.532419,2.951903,3.680377,1.137266,37.881601,1111
3,0,11110550,473.678387,263.168556,2.478787,95.176054,3.733084,37.184622,12.242230,59.694978,1111
4,0,11110560,436.923391,110.588614,0.620644,139.590393,5.315402,33.009181,40.010121,107.789030,1111
...,...,...,...,...,...,...,...,...,...,...,...
10171,23,11740650,1657.351065,1465.992901,7.503828,47.240441,12.158430,6.849080,0.081344,117.524795,1174
10172,23,11740660,491.249637,304.511534,21.044113,87.318682,10.916278,3.787359,0.162982,63.508614,1174
10173,23,11740685,720.461352,484.348382,9.913301,78.982968,19.991829,11.162651,14.056650,102.005569,1174
10174,23,11740690,105.529718,74.831987,6.607798,5.089571,2.477989,5.214664,0.000000,11.307663,1174
10175,23,11740700,452.831542,398.836260,1.103697,11.351625,3.579053,6.086877,10.156609,21.717463,1174

In [73]:
district_code = pd.read_csv("C:\\Users\Youngju Hong\Documents\projectfile\행정동코드.csv")
district_code.columns = ["통계청코드", "행자부코드", "시도명", "구", "동"]
district_code["구코드"] = district_code["행자부코드"].apply(lambda x: str(x)[:4])
district_code["구코드"]

0      1111
1      1111
2      1111
3      1111
4      1111
       ...
419    1174
420    1174
421    1174
422    1174
423    1174
Name: 구코드, Length: 424, dtype: object

In [74]:
district_code_gu = dict(zip(district_code["구코드"], district_code["구"]))
district_code_dong = dict(zip(district_code["행자부코드"], district_code["동"]))
hangja_to_tong = dict(zip(district_code["행자부코드"], district_code["통계청코드"]))

#print(district_code_gu)
print(foreign_data_grouped["h_dng_cd"])

0        11110515
1        11110530
2        11110540
3        11110550
4        11110560
           ...
10171    11740650
10172    11740660
10173    11740685
10174    11740690
10175    11740700
Name: h_dng_cd, Length: 10176, dtype: int64

In [81]:
foreign_data_grouped["gu"] = foreign_data_grouped["gu_code"].apply(lambda x: district_code_gu[x])
foreign_data_grouped["dong"] = foreign_data_grouped["h_dng_cd"].apply(lambda x: district_code_dong[x])
foreign_data_grouped["h_dng_cd_tong"] = foreign_data_grouped["h_dng_cd"].apply(lambda x: hangja_to_tong[x])
foreign_data_grouped["time"] = foreign_data_grouped["tt"].apply(lambda x: "Day" if (x>=9 and x<=20) else "Night")
foreign_data_grouped.head()

,tt,h_dng_cd,fornlong_spop,chn,vnm,usa,jpn,can,twn,etcsum,gu_code,gu,dong,h_dng_cd_tong,time
0,0,11110515,208.256166,67.906446,0.561709,50.770162,13.532205,23.436146,5.061136,46.988372,1111,종로구,청운효자동,1101072,Night
1,0,11110530,974.621064,154.877688,7.108387,155.002733,26.164693,35.467321,14.169019,581.831176,1111,종로구,사직동,1101053,Night
2,0,11110540,124.166980,30.555814,17.427599,30.532419,2.951903,3.680377,1.137266,37.881601,1111,종로구,삼청동,1101054,Night
3,0,11110550,473.678387,263.168556,2.478787,95.176054,3.733084,37.184622,12.242230,59.694978,1111,종로구,부암동,1101055,Night
4,0,11110560,436.923391,110.588614,0.620644,139.590393,5.315402,33.009181,40.010121,107.789030,1111,종로구,평창동,1101056,Night

In [87]:
#stat_temp.to_excel("foreign_living_population_by_dong.xlsx")
stat_temp = foreign_data_grouped.groupby(["h_dng_cd_tong","time"])[["fornlong_spop","chn","vnm","usa","jpn","can","twn","etcsum"]].mean().reset_index()
print(stat_temp)
stat_temp_day = stat_temp[stat_temp["time"] == "Day"]
stat_temp_night = stat_temp[stat_temp["time"] == "Night"]

#stat_temp = stat_temp.groupby(by = ["gu", "time"]).sum().reset_index()
#stat_temp.to_excel("foreign_living_population_by_gu.xlsx")

     h_dng_cd_tong   time  fornlong_spop          chn        vnm         usa  \
0          1101053    Day    1514.273826   399.236367  13.351148  215.930918
1          1101053  Night    1038.046952   173.310651   6.876030  158.735896
2          1101054    Day     221.957565    81.374318  14.122669   33.060689
3          1101054  Night     131.036563    35.138688  16.790352   30.570254
4          1101055    Day     533.697704   310.949957   9.288592   84.333168
..             ...    ...            ...          ...        ...         ...
843        1125072  Night     464.413409   370.846375  19.254376   19.471642
844        1125073    Day    1989.774882  1678.576031  18.652970   83.815522
845        1125073  Night    2129.821038  1794.586943  21.740210   97.082000
846        1125074    Day     732.745812   552.173333  10.087279   52.013355
847        1125074  Night     719.340017   498.675599   9.043594   72.462538

           jpn        can        twn      etcsum
0    51.581379  51.341679  33.646658  749.185669
1    27.546180  37.569994  15.331778  618.676394
2     9.586677   6.663641   4.309248   72.840314
3     2.894901   4.027587   0.916242   40.698535
4     4.483881  26.282713  25.634493   72.724878
..         ...        ...        ...         ...
843   5.785536   9.767105   1.094886   38.193435
844  20.035167  17.810038   5.917266  164.967864
845  15.396089  21.437751   2.917462  176.660581
846  13.985542   8.400381   8.463983   87.621934
847  17.772174  10.452254  12.599708   98.334140

[848 rows x 10 columns]

In [104]:
#For GIS
gis = pd.read_excel("C:\\Users\Youngju Hong\Documents\projectfile\gis.xlsx", sheet_name = "GIS version")
gis = gis.rename(columns = {"ADM_CD": "h_dng_cd_tong"})
day_population = pd.merge(gis, stat_temp_day, on = "h_dng_cd_tong", how = "left")
night_population = pd.merge(gis, stat_temp_night, on = "h_dng_cd_tong", how = "left")

In [105]:
##2. Local Population
#instate handling

local_data = pd.DataFrame(columns = ["기준일ID", "시간대구분", "행정동코드", "총생활인구수"])
#"기준일ID", "시간대구분", "행정동코드", "총생활인구수"


for i in range(1,6):
    pop = pd.read_csv(f"C:\\Users\Youngju Hong\Documents\projectfile\동별내국인생활인구_2020년_1월_5월\LOCAL_PEOPLE_DONG_20200{str(i)}.csv")
    local_data = pd.concat([local_data, pop])
    #grouped = pop.groupby(by = ["행정동코드"], as_index = False)
    #grouped

In [106]:
local_data["time"] = local_data["시간대구분"].apply(lambda x: "Day" if (x>=9 and x<=20) else "Night") #day (09-20) and night(20-08)
#local_data["dong"] = local_data["행정동코드"].apply(lambda x: district_code_dong[x])
local_data["gu"] = local_data["행정동코드"].apply(lambda x: district_code_gu[str(x)[:4]])
local_data["h_dng_cd_tong"] = local_data["행정동코드"].apply(lambda x: hangja_to_tong[x])

stat_temp = local_data.groupby(["h_dng_cd_tong", "time"])[["총생활인구수"]].mean().reset_index()
day_population = pd.merge(day_population, stat_temp[stat_temp["time"] == "Day"], on = "h_dng_cd_tong", how = "left")
night_population = pd.merge(night_population, stat_temp[stat_temp["time"] == "Night"], on = "h_dng_cd_tong", how = "left")

In [108]:
night_population.to_excel("night_population.xlsx")
day_population.to_excel("day_population.xlsx")