In [35]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn
file = pd.read_excel("C://Users/Youngju Hong/Desktop/200820_dailyFinal.xls")

In [36]:
file.describe()

,adm_cd,sub350,fcenter1km,hot_usa,hot_vi,hot_ch,hot_jp,hot_cn,univ_count,bus_stop,...,lux.1,uv.1,noise.1,super_fine_adj.1,fine_adj.1,deadly_accident,hospital,general_hospital,fire_frequency_2019,bank_sum
count,4.240000e+02,424.000000,424.000000,424.000000,424.000000,424.000000,424.000000,424.000000,424.000000,424.000000,...,423.000000,423.000000,423.000000,423.000000,423.000000,424.000000,424.000000,424.000000,424.000000,424.000000
mean,1.113664e+06,2.745283,0.250000,0.129717,0.139151,0.084906,0.080189,0.122642,0.563679,26.349057,...,9408.242866,1.972735,47.975132,14.776159,26.216359,0.589623,113.268868,1.002358,13.922170,5.023585
std,7.411488e+03,2.289089,0.433524,0.336389,0.346513,0.279071,0.271906,0.328413,0.842546,15.193810,...,4234.237578,4.510933,3.392556,43.376550,44.808168,0.892038,91.809564,0.966334,9.117623,7.503154
min,1.101053e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,359.747040,0.000000,32.606426,-799.305176,-798.583130,0.000000,6.000000,0.000000,0.000000,0.000000
25%,1.107070e+06,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000,...,6695.757812,0.613184,45.886446,11.049263,19.009661,0.000000,63.000000,0.000000,8.000000,1.000000
50%,1.114068e+06,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.000000,...,9006.195312,1.033436,47.944618,19.751234,31.694118,0.000000,92.000000,1.000000,12.000000,3.000000
75%,1.120318e+06,4.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,33.000000,...,12345.766113,1.738045,49.744841,23.461430,38.419010,1.000000,144.000000,2.000000,17.250000,5.000000
max,1.125074e+06,16.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,111.000000,...,22676.322266,51.861515,62.811737,32.559486,60.720139,5.000000,860.000000,4.000000,76.000000,70.000000

In [37]:
file.dtypes

adm_cd                     int64
adm_nm                    object
sub350                     int64
fcenter1km                 int64
hot_usa                    int64
hot_vi                     int64
hot_ch                     int64
hot_jp                     int64
hot_cn                     int64
univ_count                 int64
bus_stop                   int64
daga_percent             float64
green_area_ratio         float64
commercial_area_ratio    float64
living_area_ratio        float64
industrial_area_ratio    float64
super_fine               float64
fine                     float64
celcius                  float64
humidity                 float64
lux                      float64
uv                       float64
noise                    float64
super_fine_adj           float64
fine_adj                 float64
area                       int64
green_area               float64
commercial_area          float64
living_area              float64
industrial_area          float64
sum                        int64
department_store           int64
super_fine.1             float64
fine.1                   float64
celcius.1                float64
humidity.1               float64
lux.1                    float64
uv.1                     float64
noise.1                  float64
super_fine_adj.1         float64
fine_adj.1               float64
deadly_accident            int64
hospital                   int64
general_hospital           int64
fire_frequency_2019        int64
bank_sum                   int64
dtype: object

In [38]:
file.columns

Index(['adm_cd', 'adm_nm', 'sub350', 'fcenter1km', 'hot_usa', 'hot_vi',
       'hot_ch', 'hot_jp', 'hot_cn', 'univ_count', 'bus_stop', 'daga_percent',
       'green_area_ratio', 'commercial_area_ratio', 'living_area_ratio',
       'industrial_area_ratio', 'super_fine', 'fine', 'celcius', 'humidity',
       'lux', 'uv', 'noise', 'super_fine_adj', 'fine_adj', 'area',
       'green_area', 'commercial_area', 'living_area', 'industrial_area',
       'sum', 'department_store', 'super_fine.1', 'fine.1', 'celcius.1',
       'humidity.1', 'lux.1', 'uv.1', 'noise.1', 'super_fine_adj.1',
       'fine_adj.1', 'deadly_accident', 'hospital', 'general_hospital',
       'fire_frequency_2019', 'bank_sum'],
      dtype='object')

In [39]:
file[['hot_usa', 'hot_vi','hot_ch', 'hot_jp', 'hot_cn']] = \
file[['hot_usa', 'hot_vi','hot_ch', 'hot_jp', 'hot_cn']].astype("category")

In [40]:
file.head()

,adm_cd,adm_nm,sub350,fcenter1km,hot_usa,hot_vi,hot_ch,hot_jp,hot_cn,univ_count,...,lux.1,uv.1,noise.1,super_fine_adj.1,fine_adj.1,deadly_accident,hospital,general_hospital,fire_frequency_2019,bank_sum
0,1101053,사직동,3,1,0,0,0,0,1,1,...,1383.743408,0.243624,47.866898,1.881106,14.004711,1,173,2,8,20
1,1101054,삼청동,1,1,0,0,0,0,0,1,...,8655.625000,1.269119,45.810528,4.328655,18.719650,0,32,0,5,3
2,1101055,부암동,0,0,0,0,0,0,0,1,...,6800.470215,0.889899,46.255451,16.081945,23.382246,1,10,0,12,2
3,1101056,평창동,0,0,0,0,0,0,0,2,...,6698.752441,1.140742,49.146179,1.753297,4.176123,0,15,0,27,3
4,1101057,무악동,1,0,0,0,0,1,0,1,...,7291.489746,0.839217,48.383129,12.947498,15.970521,0,21,2,4,1

,adm_cd,adm_nm,sub350,fcenter1km,hot_usa,hot_vi,hot_ch,hot_jp,hot_cn,univ_count,...,lux.1,uv.1,noise.1,super_fine_adj.1,fine_adj.1,deadly_accident,hospital,general_hospital,fire_frequency_2019,bank_sum
0,1101053,사직동,3,1,0,0,0,0,1,1,...,1383.743408,0.243624,47.866898,1.881106,14.004711,1,173,2,8,20
1,1101054,삼청동,1,1,0,0,0,0,0,1,...,8655.625000,1.269119,45.810528,4.328655,18.719650,0,32,0,5,3
2,1101055,부암동,0,0,0,0,0,0,0,1,...,6800.470215,0.889899,46.255451,16.081945,23.382246,1,10,0,12,2
3,1101056,평창동,0,0,0,0,0,0,0,2,...,6698.752441,1.140742,49.146179,1.753297,4.176123,0,15,0,27,3
4,1101057,무악동,1,0,0,0,0,1,0,1,...,7291.489746,0.839217,48.383129,12.947498,15.970521,0,21,2,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,1125070,둔촌1동,2,1,0,0,0,0,0,0,...,10639.258789,2.255450,57.952244,10.115654,17.454494,0,66,2,0,0
420,1125071,둔촌2동,2,1,0,0,0,0,0,0,...,8463.291016,1.324441,44.725201,19.648668,29.652439,2,53,2,16,5
421,1125072,암사1동,2,0,0,0,0,0,0,0,...,1320.454468,0.181199,45.019028,16.487263,28.029783,0,171,0,30,1
422,1125073,천호2동,3,1,0,0,0,0,0,0,...,7075.612305,1.487342,50.795036,8.085632,13.814720,0,253,1,34,4
423,1125074,길동,3,1,0,0,0,0,0,0,...,10428.963867,1.292327,46.978020,17.707886,30.434294,3,175,3,18,9